*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FBFEFB;
}

main {
    display: flex;
    width: 750px;
    margin: 100px auto;
    background: #F3D8C7;
    border-radius: 5px;
    box-shadow: 5px 4px 5px #EFE5DC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.imagen {
    width: 50%;
}

.imagen img {
    width: 100%;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

.login {
    width: 50%; /* Make .login occupy 50% of main */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .inputBox{
    display: flex;
    flex-direction: column;
    text-align: center;
}

input{
    margin: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.links{
    margin: 15px 0;
}

.links a{
    color: #000;
    text-decoration: none;
}

.links a:hover{
    color: #D0B8AC;
}

.bottom{
    padding: 3px 15px;
    border: none;
    background: EFE5DC;
}

.bottom:hover{
    background: #D0B8AC;
    box-shadow: 5px 5px 5px #EFE5DC;
}